<header role="banner" class="wrapper">
    <a href="/" class="home-link logo">{{ metadata.title }}</a>

    <nav>
        <h2 class="visually-hidden">Top level navigation menu</h2>
        <ul role="list" class="cluster">
            {%- for entry in collections.all | eleventyNavigation %}
                <li class="nav-item">
                    <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
                </li>
            {%- endfor %}
        </ul>
    </nav>
</header>